<!DOCType html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>

<body>
    <h1>GroupName: <span style="color: brown;">{{group_name}}</span></h1>

    <textarea name="" id="chat-log" cols="100" rows="20" readonly></textarea>
    <br>
    <input type="text" size="100" id="chat-message-input">
    <br>
    <input type="submit" value="Send" id="chat-message-submit">
    {{group_name|json_script:"group-name"}}
    <script>
        const groupName = JSON.parse(document.getElementById('group-name').textContent)
        
        // static ->
        // var ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/') 

        // dynamic ->
        var ws = new WebSocket(`ws://${window.location.host}/ws/ac/${groupName}/`)

        ws.onmessage = function(event) {
            const data = JSON.parse(event.data)
            const message = data.msg
            document.getElementById('chat-log').value += (message + '\n')
               
        }

       
        document.getElementById('chat-message-submit').onclick = function(event) {
            const messageInputDom = document.getElementById('chat-message-input')
            const message = messageInputDom.value
            ws.send(JSON.stringify({
                'msg': message
            }))
            messageInputDom.value = ''
        }
    </script>
</body>

</html>